html{
    scroll-behavior: smooth;
    scroll-margin-top: 2rem;
    font-family: "Nunito Sans",sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
header{
    height: 800px;
    width: 100%;
    background-image: url(./image/Wallpaper-House.com_95787.jpg);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    position: relative;
}
header:after{
    position: absolute;
    bottom: -1;
    background: linear-gradient(to bottom,  rgba(161, 224, 248, 0.842) 0%,rgba(255, 255, 255, 0) 100%);
    content: "";
	height: 150px;
	filter: blur(9px);
    backdrop-filter: blur(30px);
	width: 100%;
	z-index: 3;

}
.divhead{
    height: 120px;
    width: 100%;
    background-color: rgba(6, 74, 177, 0.699);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: Poppins Regular;
    box-shadow: 0 16px 10px 0 rgba(10, 1, 1, 0.514);
   
}
#logo>p{
    font-size: 30px;
    font-family: Poppins Regular;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    
}
#logo>p>span{
    height: 180px;
    width: 130px;
    background-color: rgb(0, 183, 255);
    border-radius: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 0px;
    z-index: 1;
}
#logo>p>span:nth-child(2){
    background-color: aqua;
    z-index: 2;
}
nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 1rem;  */
    list-style: none;
}
nav>ul>li{
    margin-left: 31px;
}
nav>ul>li>a{
    text-decoration: none;
    color: white;
    font-size:15px ;
    transition: all 350ms ease-in-out;
}

/* nav animations */

nav ul li a:after {
    backface-visibility: hidden;
    border:1px solid rgba(255, 255, 255, 0);
    bottom: 0px;
    content: "";
    display: block;
    margin:0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}
nav ul li a:hover:after {
    backface-visibility: hidden;
    border-color: rgba(241, 129, 0, 0.747);
    transition: width 350ms ease-in-out;
    width: 70%;
}

/* nav>ul>li>a:hover{
    color:black;
    transition:all 350ms ease-in-out;
} */
#sect1{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Poppins Bold;
}
#sect1>h1{
    height: auto;
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
}
#sect1>h5{
    height: auto;
    text-align: center;
    font-size: 15px;
     color: rgb(0, 0, 0);
}
#sponsors{
    height: 300px;
    width: 100%;
    margin-top:8rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 136, 0, 0);
    font-family: 'THOUSAND SUNNY';
}#sponsors>h2{
    font-size: 33px;
    /* color: rgb(252, 117, 0); */
}
#sly{
    height:150px;
    width: 94%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(76, 0, 255, 0.274);
    z-index: -10;
    /* box-shadow: 0 2px 10px 0 rgba(10, 1, 1, 0.226); */
}
/* linear grad for slidder */
#sly>div:before,
#sly>div:after{
    background: linear-gradient(to right,  rgba(255, 255, 255, 0.932) 0%,rgba(255, 255, 255, 0.13) 22%,rgba(255, 255, 255, 0.13) 30%,rgba(255, 255, 255, 0) 100%);
    content: "";
	height: 150px;
	position: absolute;
	width: 200px;
	z-index: 3;
}
#sly>div:before{
    top: 0;
    left: 0;
    /* background-color: black; */
}
#sly>div:after{
    top: 0;
    right: 0;
    transform: rotateZ(180deg);
    /* background-color: black; */
   
}
#cta{
    height: 700px;
    width: 100%;
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'MonteCristo';
    font-size: 30px;
}
.cta{
    font-family: Poppins Regular;
    text-align: center;
    font-size: 40px;
}
#sect2{
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    position: relative;
}
#text{
    font-family: Poppins Regular;
    color: white;
    margin-left: 3rem;
    width: 60%;
}
#name{
    font-size: 30px;
    
}
#descript{
    height: 400px;
    width:100% ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border:5px solid white; */
}
#movietags{
    height: auto;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}
#movietags>div{
    height: 40px;
    width: 60px;
    border:3px solid white;
    border-radius: 5%; 
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#moviedetail{
    height: 100px;
    width: 700px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
}
#moviedetail>div{
    margin: 0;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around;
    align-items: left; */
}
#moviedetail>div>p{
    margin: 0;
    width: 120px;
    color: rgb(165, 165, 165);
}
#moviedetail>div>p:nth-child(2){
    width: auto;
    color: white;
    margin-left: 5px;
}
#descript>p>a{
    text-decoration: none;
    color: blue;
}
#moviebutton{
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-around;
    background-color: rgba(255, 0, 242, 0);
}

#moviebutton>a>button{
    font-size: 20px;
    font-family: Poppins Regular;
    height: 60px;
    width: 200px;
    background-color: rgb(0, 60, 255);
    border-radius: 5%;
    border: 0;
    border-style: none;
    transition: all 350ms ease-in-out;
}
#moviebutton>a:nth-child(2)>button{
    transition: all 350ms ease-in-out;
    background-color: rgb(49, 49, 49);
}

/* movie button animations hover */

#moviebutton>a>button:hover{
    background-color: rgb(58, 58, 58);
    color: rgb(255, 255, 255);
    transition: all 350ms ease-in-out;
    cursor: pointer;
}
#moviebutton>a:nth-child(2)>button:hover{
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
    transition: all 350ms ease-in-out;
    cursor: pointer;
}

#image{
    height: 700px;
    position: relative;


}
#image:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0),rgb(0, 0, 0));
}
#image>img{
    height: 700px;
}

/* #image{
    height: 700px;
    width: 3000px;
    background: linear-gradient(to left, url(./image/PIB_Adv1Sheet3_GoodEvil_RGB_1.jpg) 0%,rgb(185, 2, 2) 100%);
    background-position: center;
    z-index: 2;
    position: relative;
    
} */
/* #image:before{
    position: absolute;
    top: 0;
    left: -4rem;
    background: linear-gradient(to left, url(./image/PIB_Adv1Sheet3_GoodEvil_RGB_1.jpg) uhggbbvg,rgb(0, 0, 0) 100%);
    content: "";
	height: 100%;
	filter: blur(9px);
    backdrop-filter: blur(30px);
	width: 150px;
	z-index: 3;

} */

/* sect 3 */

#sect3{
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
}
#sect3>#text{
    font-family: Poppins Regular;
    color: rgb(0, 0, 0);
    margin-right: 3rem;
    width: 60%;
}
#sect3>#movietags{
    height: auto;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: right;
}
#sect3>#text>#descript>#movietags>div{
    height: 40px;
    width: 60px;
    border:3px solid rgb(0, 0, 0);
    border-radius: 5%; 
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#sect3>#moviedetail{
    height: 100px;
    width: 700px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: right;
}
#moviedetail>div{
    margin: 0;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around;
    align-items: left; */
}
#sect3>#descript>#moviedetail>div>p{
    margin: 0;
    width: 120px;
    color: rgb(165, 165, 165);
}
#sect3>#text>#descript>#moviedetail>div>p:nth-child(2){
    width: auto;
    color: rgb(0, 0, 0);
    margin-right: 5px;
}
#descript>p>a{
    text-decoration: none;
    color: blue;
}
#sect3>#moviebutton{
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: space-around;
    background-color: rgba(255, 0, 242, 0);
}

#moviebutton>a>button{
    font-size: 20px;
    font-family: Poppins Regular;
    height: 60px;
    width: 200px;
    background-color: rgb(0, 60, 255);
    border-radius: 5%;
    border: 0;
    border-style: none;
    transition: all 350ms ease-in-out;
}
#moviebutton>a:nth-child(2)>button{
    transition: all 350ms ease-in-out;
    background-color: rgb(49, 49, 49);
}

/* movie button animations hover */

#moviebutton>a>button:hover{
    background-color: rgb(58, 58, 58);
    color: rgb(255, 255, 255);
    transition: all 350ms ease-in-out;
    cursor: pointer;
}
#moviebutton>a:nth-child(2)>button:hover{
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
    transition: all 350ms ease-in-out;
    cursor: pointer;
}

#image{
    height: 700px;
    position: relative;


}
#sect3>#image:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0),rgb(255, 255, 255));
}
#image>img{
    height: 700px;
}
/* sect4 */
#sect4{
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 153, 255);
    position: relative;
    color: white;
}

#sect4>#descript>#moviedetail>div>p{
    margin: 0;
    width: 120px;
    color: rgb(255, 255, 255);
}
#sect4>#image:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0),rgb(0, 153, 255));
}
#sect4>#image>img{
    height: 700px;
    position: relative;
    right: 0;
}

/* sect 5 */
#sect5{
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    background:linear-gradient(to left, rgb(255, 255, 255),rgb(0, 0, 0), url(./image/120304150.jpg.cf.jpg));
    background-position: center;
}
#sect5>p{
    text-align: center;
    font-size: 35px;
    font-family: Poppins Regular;
}
/* #sect5>div{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    position: relative;  
    animation: scroll 10s linear infinite;
    display: flex;
    width: calc(350px * 7);
    justify-content: space-around; 
} */


/* slidder animation */
.slider {
    position: relative;
	margin: 0;
	overflow:hidden;
	width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 700px;
    background-color: rgba(72, 255, 0, 0);
 
     
}
.slider:before,
.slider:after{
    background: linear-gradient(to right,  rgba(247, 247, 247, 0.404) 0%,rgba(255, 255, 255, 0.13) 22%,rgba(255, 255, 255, 0) 30%,rgba(255, 255, 255, 0) 100%);
    /* background-color: black; */
    content: "";
	height: 800px;
	position: absolute;
	width: 200px;
	z-index: 3;
}
.slider:before{
    top: 0;
    left: 0;
    /* background-color: black; */
}
.slider:after{
    top: 0;
    right: 0;
    transform: rotateZ(180deg);
    /* background-color: black; */
   
}
	.slide-track {
        z-index: 2;
        position: absolute;
        left: 0;
        height: 650px;
		width: calc(400px * 9);
        overflow: hidden;
        /* margin: 0;  */
		animation: scroll 15s linear infinite;
		display: flex;
        flex-direction: row;
        /* justify-content: space-around; */
        align-items: center;
        background-color: rgba(102, 31, 31, 0);
        
	}
    .slide{
        background-color: blue;
		height: 600px;
        width: 400px;		
        /* background-color: blanchedalmond; */
	}
	@keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-400px *5))}
    }
	


/* #sect5>div:hover{
    
} */
/* .track{
    animation: scroll 10s linear infinite;
    display: flex;
    width: calc(350px * 7);
    justify-content: space-around;
    
} */

#csimage{
    height: 600px;
    /* width: 350px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blanchedalmond; */
}
/*footer*/

.footer-logo div{
    width: auto;
}
.footer-logo a{
    text-decoration: none;
    color: white;
}

.footer-container{
    height: 300px;
    width: 100%;
    background-color: rgb(6, 75, 177);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center ;
}
.footer-top{
    height: 150px;
    width: 95%;
    /* margin: 1rem; */
    /* background-color: black; */
    display: flex;
    justify-content:space-around;
}
.footer-logo-socials{
    height: 230px;
    width: 290px;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}
.footer-icon-social{
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.footer-addresses{
    height: 100%;
    width: 290px;
    /* background-color: black; */
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.faddress-title{
    color: white;
    text-align: center;
    font-family: Poppins Regular;
    font-size: 21px;
    /* margin-top: 2rem; */
}
.faddress-content{
    align-items: center;
    width: 100%;
    height: auto;   
    padding: 0;
}
.faddress-content ul{
    color: white;
    font-family: Poppins Regular;
    font-size: 11.5px;
}

.findex-title{
    color: white;
    text-align: center;
    font-family: Poppins Regular;
    font-size: 21px;
    /* margin-top: 2rem; */
}
.footer-index{
    height: 100%;
    width: 290px;
    background-color: rgb(6, 75, 177);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.findex-content{
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0;
}
.findex-content ul {
    height: auto; 
    list-style-type: none;
    text-decoration: none;
    
    font-family: Poppins Regular;
    font-size: 11.5px;
    text-align: center;
    padding: 0;
}
.findex-content ul a{
    text-decoration: none;
    color: white;
   
}
.footer-bottom{
    height: 50px;
    width: 100%;
    background-color: rgb(6, 75, 177);
    justify-content: center;
    text-align: center;
}
.fcopyright{
    color: white;
    font-size: 12px;
    text-align: center;
    font-family: Poppins Regular;   
}

/*footer ul animation*/
.footer-index ul a:hover,
.footer-index>ul>a:active{
	animation-name: colorFade;
	animation-duration: 4s;
	/*transition: width 320ms ease-in-out;*/
/* }

    .under-nav-content-bttn:hover,
    .under-nav-content-bttn:active { */
        /* letter-spacing: 4px; */
        /* font-size: 15px; */
        width: auto;
        transition: width 350ms ease-in-out;
        transition: all 380ms ease-in-out;
        position: relative;
    
    }
    .footer-index ul a:after {
        backface-visibility: hidden;
        border:1px solid rgba(255, 255, 255, 0);
        bottom: 0px;
        content: "";
        display: block;
        margin:0 auto;
        position: relative;
        transition: all 280ms ease-in-out;
        width: 0;
    }
    .footer-index ul a:hover:after {
        backface-visibility: hidden;
        border-color: rgba(0, 0, 0, 0.71);
        transition: width 350ms ease-in-out;
        width: 20%;
    }