@media screen and (min-width:300px) {
    html{
        font-size: 40px;
    }
    body{
        background-color: rgb(11, 11, 46);
        
    }
    
    main{
        font-size: 20px;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(9, 100px);
        gap: 10px;
        grid-template-areas: 
        "a "
        "b"
        "c"
        "d"
        "e"
        "f"
        "g"
        "h"
        "i";
        
    }
    section{
        background-color: rgb(20, 94, 255);
        /* height: 50px;
        width: 50%; */
        /* margin-top: 10px;
        margin-bottom: 25px;
        margin-left: 2em;
        margin-right: 30px; */
        /* margin: 10px auto; */
    }
        /* transition: all 800ms ease-in-out;  
    
    }
    section:hover{
        transition: all 800ms ease-in-out;  
    } */
    section:nth-of-type(1){
        grid-area:a ;
        background: url(./icons8-github-24.png),
        url(./icons8-github-24.png), url(./icons8-github-24.png), url(./icons8-github-24.png), url(./icons8-github-24.png);
        background-repeat: no-repeat;
        background-position: top left, center, top right,bottom left, bottom right;
    }
    section:nth-of-type(2){
        grid-area:b ;
        background: linear-gradient(-45deg, rgb(0, 109, 33) 25%, rgb(255, 251, 0) 25%, rgb(255, 251, 0) 75%, rgb(0, 109, 33) 75% );
      
    }
    section:nth-of-type(3){
        grid-area:c ;
        background: radial-gradient(rgb(136, 0, 0) 30%, white 30%);
    }
    section:nth-of-type(4){
        grid-area:d ;        
        background: repeating-radial-gradient(rgb(136, 0, 0) 10%, white 12%);
    }
    section:nth-of-type(5){
        grid-area:e ;
    }
    section:nth-of-type(6){
        grid-area:f ;
        color: white;
        background: linear-gradient( to right, rgb(11, 11, 41) 35%, white 35%, white 65%, rgb(187, 1, 26) 65% );

    }
    section:nth-of-type(7){
        grid-area:g ;
        color: white;
        background: linear-gradient( to bottom, rgb(0, 0, 0) 35%, rgb(206, 14, 7) 35%, rgb(206, 14, 7) 65%, rgb(255, 230, 0) 65% );
    }
    section:nth-of-type(8){
        grid-area:h ;
    }
    section:nth-of-type(9){
        grid-area:i ;
    }
    a{
        color: rgb(23, 23, 44);
        text-decoration: none;
        font-family: Verdana;
        font-size: 26px;
    }
    
    section:nth-of-type(1) a:hover{
        text-decoration: underline;
        color: white;
        transition: all 800ms ease-in-out;  
    }
    section:nth-of-type(1):hover{
        background-color: black;
        /* color: white; */
        transition: all 800ms ease-in-out;  
    }
    
}
@media screen and (min-width:560px) {
    html{
        font-size: 40px;
    }
    body{
        background-color: rgb(59, 59, 85);
        
    }
    
    main{
        font-size: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 100px);
        gap: 10px;
        grid-template-areas: 
        "a a "
        "b c "
        "d e "
        "f g "
        "h i ";
        
    }
    section{
        background-color: rgb(79, 124, 223);
        /* height: 50px;
        width: 50%; */
        /* margin-top: 10px;
        margin-bottom: 25px;
        margin-left: 2em;
        margin-right: 30px; */
        /* margin: 10px auto; */
    }
        /* transition: all 800ms ease-in-out;  
    
    }
    section:hover{
        transition: all 800ms ease-in-out;  
    } */
    section:nth-of-type(1){
        grid-area:a ;
    }
    section:nth-of-type(2){
        grid-area:b ;
    }
    section:nth-of-type(3){
        grid-area:c ;
    }
    section:nth-of-type(4){
        grid-area:d ;
    }
    section:nth-of-type(5){
        grid-area:e ;
    }
    section:nth-of-type(6){
        grid-area:f ;
    }
    section:nth-of-type(7){
        grid-area:g ;
    }
    section:nth-of-type(8){
        grid-area:h ;
    }
    section:nth-of-type(9){
        grid-area:i ;
    }
    a{
        color: rgb(23, 23, 44);
        text-decoration: none;
        font-family: Verdana;
        font-size: 26px;
    }
    
    section:nth-of-type(1) a:hover{
        text-decoration: underline;
        color: white;
        transition: all 800ms ease-in-out;  
    }
    section:nth-of-type(1):hover{
        background-color: black;
        /* color: white; */
        transition: all 800ms ease-in-out;  
    }
    
}

@media screen and (min-width:760px){
    
    html{
        font-size: 40px;
       
    }
    body{
        background-color: rgb(59, 59, 85);
        
    }
    
    main{
        font-size: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 100px);
        gap: 10px;
        grid-template-areas: 
        "a a b c"
        "a a d e"
        "g g f f"
        "h h f f"
        "i i i i";

    }
    section{
        background-color: rgb(79, 124, 223);
        /* height: 50px;
        width: 50%; */
        /* margin-top: 10px;
        margin-bottom: 25px;
        margin-left: 2em;
        margin-right: 30px; */
        /* margin: 10px auto; */
    }
        /* transition: all 800ms ease-in-out;  
    
    }
    section:hover{
        transition: all 800ms ease-in-out;  
    } */
    section:nth-of-type(1){
        grid-area:a ;
    }
    section:nth-of-type(2){
        grid-area:b ;
    }
    section:nth-of-type(3){
        grid-area:c ;
    }
    section:nth-of-type(4){
        grid-area:d ;
    }
    section:nth-of-type(5){
        grid-area:e ;
    }
    section:nth-of-type(6){
        grid-area:f ;
    }
    section:nth-of-type(7){
        grid-area:g ;
    }
    section:nth-of-type(8){
        grid-area:h ;
    }
    section:nth-of-type(9){
        grid-area:i ;
    }
    a{
        color: rgb(23, 23, 44);
        text-decoration: none;
        font-family: Verdana;
        font-size: 26px;
    }
    
    section:nth-of-type(1) a:hover{
        text-decoration: underline;
        color: white;
        transition: all 800ms ease-in-out;  
    }
    section:nth-of-type(1):hover{
        background-color: black;
        /* color: white; */
        transition: all 800ms ease-in-out;  
    }    
}


@media print{
    html{
        font-size: 40px;
       
    }
  
    body{
        background-color: transparent;
        
    }  
  
    main{
        font-size: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 100px);
        gap: 10px;
        grid-template-areas: 
        "a a b c"
        "a a d e"
        "g g f f"
        "h h f f"
        "i i i i";

    }
    section{
        background-color: transparent;
        border:2px solid rgb(0, 0, 0);
        /* height: 50px;
        width: 50%; */
        /* margin-top: 10px;
        margin-bottom: 25px;
        margin-left: 2em;
        margin-right: 30px; */
        /* margin: 10px auto; */
    }

    section:nth-of-type(1){
        grid-area:a ;
    }
    section:nth-of-type(2){
        grid-area:b ;
    }
    section:nth-of-type(3){
        grid-area:c ;
    }
    section:nth-of-type(4){
        grid-area:d ;
    }
    section:nth-of-type(5){
        grid-area:e ;
    }
    section:nth-of-type(6){
        grid-area:f ;
    }
    section:nth-of-type(7){
        grid-area:g ;
    }
    section:nth-of-type(8){
        grid-area:h ;
    }
    section:nth-of-type(9){
        grid-area:i ;
    }
    a{
        color: rgb(23, 23, 44);
        text-decoration: none;
        font-family: Verdana;
        font-size: 26px;
    }
   
}
